#### Import dependencies

In [1]:
!pip -q install folium
print('folium installed...')
import folium 
print('folium imported...')

#library to handle data in a vectorized manner
import numpy as np
print('numpy imported...')

#library for data analysis
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print('pandas imported...')

#library to handle JSON file
import json
print('json imported...')

!pip -q install geopy
# conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
print('geopy installed...')
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim
print('Nominatim imported...')

# library to handle request
import requests
print('requests imported...')

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
%matplotlib inline
print('matplotlib imported...')

# transform JSON file into a pandas dataframe
from pandas.io.json import json_normalize
print('json_normalize imported...')

# library used for data visualization
import seaborn as sns
print('seaborn imported...')

# import k-means from clustering stage
from sklearn.cluster import KMeans
print('k-means imported...')

#import time
import time
print('time imported...')

# library for pulling data out of HTML and XML files
from bs4 import BeautifulSoup
print('BeautifulSoup imported...')

# install Geocoder
!pip -q install geocoder
print('geocoder installed...')
import geocoder
print('geocoder imported...')

print('DONE - All Dependencies imported...')

folium installed...
folium imported...
numpy imported...
pandas imported...
json imported...
geopy installed...
Nominatim imported...
requests imported...
matplotlib imported...
json_normalize imported...
seaborn imported...
k-means imported...
time imported...
BeautifulSoup imported...
geocoder installed...
geocoder imported...
DONE - All Dependencies imported...

#### Retrieve Data from Data source

In [2]:
wiki_data_source_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London' 
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikpedia_page = requests.get(wiki_data_source_link, headers = headers)
wikpedia_page

In [3]:
# Clean html file
soup = BeautifulSoup(wikpedia_page.content, 'html.parser')

# This extract the 'tbody' within the table where class is 'Wikitable sortable'
table = soup.find('table', {'class':'wikitable sortable'}).tbody

#Extraact all "tr" within the table above
rows = table.find_all('tr')

#Extracts the column headers, remove and replaces possible '\n' with space f or the "th" tag
columns = [i.text.replace('\n', '')
          for i in rows[0].find_all('th')]

#Converts columns to pd dataframe
df = pd.DataFrame(columns = columns)
df

Empty DataFrame
Columns: [Location, London borough, Post town, Postcode district, Dial code, OS grid ref]
Index: []

In [4]:
# Extracts every row with corresponding colums, then append the values to the created dataframe "df"
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')),
                 tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')),
                 tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        df = df.append(pd.Series(values, index = columns), ignore_index = True)
        df

In [5]:
df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [6]:
# Remane row header
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town':'Town',
                                     'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial Code', 'OS grid ref':'OSGridRe'})

In [7]:
df.head()

,Location,Borough,Town,Postcode,Dial Code,OSGridRe
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [8]:
# Remove [] from borough name extracted from wikipidia
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('123456789').rstrip('['))
df.head(5)

,Location,Borough,Town,Postcode,Dial Code,OSGridRe
0,Abbey Wood,"Bexley, Greenwich",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [9]:
df.shape

(533, 6)

In [10]:
# To identify distint location, we'll need to assign individual location to each post code
df_unique_postcode = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [11]:
df_unique_postcode.head()

,Location,Borough,Town,Dial Code,OSGridRe,Postcode
0,Abbey Wood,"Bexley, Greenwich",LONDON,020,TQ465785,SE2
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W3
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W4
10,Angel,Islington,LONDON,020,TQ345665,EC1
10,Angel,Islington,LONDON,020,TQ345665,N1

In [12]:
df_unique_postcode.shape

(637, 6)

Create a new dataframe from existing 'df_unique_postcode' with columns Location, Borough, Postcode and Town

In [13]:
df_source = df_unique_postcode[['Location', 'Borough', 'Postcode', 'Town']].reset_index(drop=True)
df_source.head(5)

     Location                         Borough Postcode    Town
0  Abbey Wood             Bexley,  Greenwich       SE2  LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3  LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4  LONDON
3       Angel                       Islington      EC1  LONDON
4       Angel                       Islington       N1  LONDON

We'll be using only London Town for this project. Filter out none-london town location

In [14]:
df_source_london = df_source
df_source_london = df_source_london[df_source_london['Town'].str.contains('LONDON')]
df_source_london.head(5)

     Location                         Borough Postcode    Town
0  Abbey Wood             Bexley,  Greenwich       SE2  LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3  LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4  LONDON
3       Angel                       Islington      EC1  LONDON
4       Angel                       Islington       N1  LONDON

Since we only not have Towns = London, Drop column 'Town' from dataframe

In [15]:
df_source_london_data = df_source_london[['Location', 'Borough', 'Postcode']].reset_index(drop=True)
df_source_london_data

,Location,Borough,Postcode
0,Abbey Wood,"Bexley, Greenwich",SE2
1,Acton,"Ealing, Hammersmith and Fulham",W3
2,Acton,"Ealing, Hammersmith and Fulham",W4
3,Angel,Islington,EC1
4,Angel,Islington,N1
5,Church End,Brent,NW10
6,Church End,Barnet,N3
7,Clapham,"Lambeth, Wandsworth",SW4
8,Clerkenwell,Islington,EC1
9,Colindale,Barnet,NW9
10,Colliers Wood,Merton,SW19
11,Colney Hatch,Barnet,N11
12,Colney Hatch,Barnet,N10
13,Covent Garden,Westminster,WC2
14,Archway,Islington,N19
15,Cricklewood,"Barnet, Brent, Camden",NW2
16,Crofton Park,Lewisham,SE4
17,Crossness,Bexley,SE2
18,Crouch End,Haringey,N8
19,Crystal Palace,Bromley,SE19
20,Crystal Palace,Bromley,SE20
21,Crystal Palace,Bromley,SE26
22,Cubitt Town,Tower Hamlets,E14
23,Custom House,Newham,E16
24,Dalston,Hackney,E8
25,Dartford,Dartford,DA5
26,De Beauvoir Town,Islington,N1
27,Denmark Hill,Southwark,SE5
28,Deptford,Lewisham,SE8
29,Dollis Hill,Brent,NW2
30,Arkley,Barnet,EN5
31,Arkley,Barnet,NW7
32,Dulwich,Southwark,SE21
33,Ealing,Ealing,W5
34,Ealing,Ealing,W13
35,Earls Court,Kensington and Chelsea,SW5
36,Earls Court,Kensington and Chelsea,SW10
37,Earlsfield,Wandsworth,SW18
38,East Dulwich,Southwark,SE22
39,East Finchley,Barnet,N2
40,East Ham,Newham,E6
41,Arnos Grove,Enfield,N11
42,Arnos Grove,Enfield,N14
43,East Sheen,Richmond upon Thames,SW14
44,Edmonton,Enfield,N9
45,Edmonton,Enfield,N18
46,Elephant and Castle,Southwark,SE1
47,Elephant and Castle,Southwark,SE11
48,Elephant and Castle,Southwark,SE17
49,Balham,Wandsworth,SW12
50,Eltham,Greenwich,SE9
51,Falconwood,"Bexley, Greenwich",SE9
52,Falconwood,"Bexley, Greenwich",DA16
53,Farringdon,Islington & City,EC1
54,Bankside,Southwark,SE1
55,Finchley,Barnet,N2
56,Finchley,Barnet,N3
57,Finchley,Barnet,N12
58,Finsbury,Islington,EC1
59,Finsbury Park,"Haringey, Islington",N4
60,Fitzrovia,Camden,W1
61,Forest Gate,Newham,E7
62,Forest Hill,Lewisham,SE23
63,Fortis Green,Haringey,N10
64,Barbican,City,EC1
65,Friern Barnet,Barnet,N11
66,Frognal,Camden,NW3
67,Fulham,Hammersmith and Fulham,SW6
68,Gipsy Hill,Lambeth,SE19
69,Gipsy Hill,Lambeth,SE27
70,Golders Green,Barnet,NW11
71,Gospel Oak,Camden,NW5
72,Gospel Oak,Camden,NW3
73,Grahame Park,Barnet,NW9
74,Grange Park,Enfield,N21
75,Greenwich,Greenwich,SE10
76,Grove Park,Hounslow,W4
77,Grove Park,Lewisham,SE12
78,Gunnersbury,Hounslow,W4
79,Hackney,Hackney,E5
80,Hackney,Hackney,E8
81,Hackney,Hackney,E9
82,Hackney,Hackney,N1
83,Hackney,Hackney,N16
84,Hackney Central,Hackney,E8
85,Hackney Marshes,Hackney,E9
86,Hackney Wick,Hackney,E9
87,Haggerston,Hackney,E2
88,The Hale,Barnet,NW7
89,Hammersmith,Hammersmith and Fulham,W6
90,Hampstead,Camden,NW3
91,Hampstead Garden Suburb,Barnet,N2
92,Hanwell,Ealing,W7
93,Harlesden,Brent,NW10
94,Barnes,Richmond upon Thames,SW13
95,Harringay,Haringey,N4
96,Harringay,Haringey,N8
97,Harringay,Haringey,N15
98,Hendon,Barnet,NW4
99,Herne Hill,Lambeth,SE24
100,Highams Park,Waltham Forest,E4
101,Highbury,Islington,N5
102,Highgate,Camden,N6
103,Barnet Gate,Barnet,NW7
104,Barnet Gate,Barnet,EN5
105,Hither Green,Lewisham,SE13
106,Holborn,Camden,WC1
107,Holborn,Camden,WC2
108,Holland Park,Kensington and Chelsea,W8
109,Holland Park,Kensington and Chelsea,W11
110,Holland Park,Kensington and Chelsea,W14
111,Holloway,Islington,N7
112,Homerton,Hackney,E9
113,Honor Oak,Lewisham,SE23
114,Horn Park,"Greenwich, Lewisham",SE12
115,Hornsey,Haringey,N8
116,Hoxton,Hackney,N1
117,The Hyde,Barnet,NW9
118,Isle of Dogs,Tower Hamlets,E14
119,Islington,Islington,N1
120,Barnsbury,Islington,N1
121,Kennington,"Lambeth, Southwark",SE11
122,Kensal Green,Brent,NW10
123,Kensal Green,Brent,NW6
124,Kensington,Kensington and Chelsea,SW7
125,Kentish Town,Camden,NW5
126,Kenton,"Brent, Harrow",HA3
127,Kidbrooke,Greenwich,SE3
128,Kilburn,"Brent, Camden",NW6
129,King's Cross,Camden and Islington,WC1
130,Battersea,Wandsworth,SW11
131,Kingsbury,Brent,NW9
132,Kingston Vale,Kingston upon Thames,SW15
133,Knightsbridge,Westminster,SW1
134,Ladywell,Lewisham,SE4
135,Ladywell,Lewisham,SE13
136,Lambeth,Lambeth,SE1
137,Lea Bridge,Hackney,E10
138,Leamouth,Tower Hamlets,E14
139,Bayswater,Westminster,W2
140,Lee,Lewisham,SE12
141,Lewisham,Lewisham,SE13
142,Leyton,Waltham Forest,E10
143,Leyton,Waltham Forest,E15
144,Leytonstone,Waltham Forest,E11
145,Limehouse,Tower Hamlets,E14
146,Lisson Grove,Westminster,NW8
147,Little Ilford,Newham,E12
148,Little Venice,Westminster,W9
149,Little Venice,Westminster,W2
150,Beckenham,Bromley[20,BR3
151,Beckenham,Bromley[20,SE20
152,Longlands,Bexley,SE9
153,Longlands,Bexley,DA14
154,Longlands,Bexley,DA15
155,Lower Clapton,Hackney,E5
156,Maida Vale,Westminster,W9
157,Manor House,Hackney,N4
158,Manor Park,Newham,E12
159,Beckton,Newham[20,E6
160,Beckton,Newham[20,E16
161,Beckton,Newham[20,IG11
162,Maryland,Newham,E15
163,Marylebone (also St Marylebone),Westminster,W1
164,Mayfair,Westminster,W1
165,Maze Hill,Greenwich,SE10
166,Merton Park,Merton,SW19
167,Middle Park,Greenwich,SE9
168,Mile End,Tower Hamlets,E1
169,Mill Hill,Barnet,NW7
170,Millbank,Westminster,SW1
171,Millwall,Tower Hamlets,E14
172,Mortlake,Richmond upon Thames,SW14
173,Mottingham,Bromley,SE9
174,Muswell Hill,Haringey and Barnet,N10
175,Nag's Head,Islington,N7
176,Neasden,Brent,NW2
177,Neasden,Brent,NW10
178,New Cross,Lewisham,SE14
179,New Eltham,Greenwich,SE9
180,New Southgate,Barnet,N11
181,Newington,Southwark,SE1
182,Newington,Southwark,SE17
183,Nine Elms,Wandsworth,SW8
184,Norbury,Croydon,SW16
185,North Finchley,Barnet,N12
186,North Kensington,Kensington and Chelsea,W10
187,North Kensington,Kensington and Chelsea,W11
188,Bedford Park,Ealing,W4
189,North Woolwich,Newham,E16
190,Notting Hill,Kensington and Chelsea,W11
191,Nunhead,Southwark,SE15
192,Oakleigh Park,Barnet,N20
193,Old Ford,Tower Hamlets,E3
194,Belgravia,Westminster,SW1
195,Old Oak Common,Hammersmith and Fulham,NW10
196,Osidge,Barnet,N14
197,Oval,Lambeth,SW8
198,Oval,Lambeth,SW9
199,Oval,Lambeth,SE11
200,Paddington,Westminster,W2
201,Palmers Green,Enfield,N13
202,Park Royal,"Brent, Ealing",NW10
203,Parsons Green,Hammersmith and Fulham,SW6
204,Bellingham,Lewisham,SE6
205,Peckham,Southwark,SE15
206,Penge,Bromley,SE20
207,Pentonville,Islington,N1
208,Pimlico,Westminster,SW1
209,Plaistow,Newham,E13
210,Plumstead,Greenwich,SE18
211,Poplar,Tower Hamlets,E14
212,Primrose Hill,Camden,NW1
213,Primrose Hill,Camden,NW3
214,Primrose Hill,Camden,NW8
215,Putney,Wandsworth,SW15
216,Queen's Park,Brent,NW6
217,Queensbury,"Harrow, Brent",HA3
218,Queensbury,"Harrow, Brent",HA7
219,Queensbury,"Harrow, Brent",HA8
220,Ratcliff,Tower Hamlets,E1
221,Raynes Park,Merton,SW20
222,Roehampton,Wandsworth,SW15
223,Rotherhithe,Southwark,SE16
224,Belsize Park,Camden,NW3
225,Sands End,Hammersmith and Fulham,SW6
226,Selhurst,Croydon,SE25
227,Seven Sisters,Haringey,N15
228,Shacklewell,Hackney,E8
229,Shacklewell,Hackney,N16
230,Shadwell,Tower Hamlets,E1
231,Shepherd's Bush,Hammersmith and Fulham,W12
232,Shooter's Hill,Greenwich,SE18
233,Shoreditch,Hackney,N1
234,Silvertown,Newham,E16
235,Snaresbrook,"Redbridge, Waltham Forest",E11
236,Bermondsey,Southwark,SE1
237,Soho,Westminster,W1
238,Somerstown,Camden,NW1
239,South Hackney,Hackney,E9
240,South Kensington,Kensington and Chelsea,SW7
241,South Kensington,Kensington and Chelsea,SW3
242,South Kensington,Kensington and Chelsea,SW5
243,South Norwood,Croydon,SE25
244,South Wimbledon,Merton,SW19
245,South Woodford,Redbridge,E18
246,South Tottenham,Haringey,N15
247,South Tottenham,Haringey,N17
248,Southend,Lewisham,SE6
249,Southfields,Wandsworth,SW18
250,Southfields,Wandsworth,SW19
251,Southgate,Enfield,N14
252,Spitalfields,Tower Hamlets,E1
253,St James's,Westminster,SW1
254,Bethnal Green,Tower Hamlets,E2
255,St Giles,Camden,WC2
256,St Johns,Lewisham,SE4
257,St John's Wood,Westminster,NW8
258,St Luke's,Islington,EC1
259,St Pancras,Camden,WC1
260,Stamford Hill,Hackney,N15
261,Stamford Hill,Hackney,N16
262,Stepney,Tower Hamlets,E1
263,Stockwell,Lambeth,SW8
264,Stockwell,Lambeth,SW9
265,Stoke Newington,Hackney,N16
266,Stonebridge,Brent,NW10
267,Stratford,Newham,E15
268,Streatham,Lambeth,SW16
269,Stroud Green,Haringey,N4
270,Bexleyheath (also Bexley New Town),Bexley,DA6
271,Bexleyheath (also Bexley New Town),Bexley,DA7
272,Bexleyheath (also Bexley New Town),Bexley,SE2
273,Surrey Quays,Southwark,SE16
274,Swiss Cottage,Camden,NW3
275,"Sydenham (also Lower Sydenham, Upper Sydenham)","Lewisham, Bromley",SE26
276,Sydenham Hill,"Lewisham, Southwark",SE21
277,Sydenham Hill,"Lewisham, Southwark",SE26
278,Temple,"City, Westminster",EC4
279,Temple,"City, Westminster",WC2
280,Thamesmead,"Bexley, Greenwich",SE28
281,Thamesmead,"Bexley, Greenwich",SE2
282,Thamesmead,"Bexley, Greenwich",DA18
283,Tooting,Wandsworth,SW17
284,Tooting Bec,Wandsworth,SW17
285,Tottenham,Haringey,N15
286,Tottenham,Haringey,N17
287,Tottenham Green,Haringey,N15
288,Tottenham Hale,Haringey,N15
289,Tottenham Hale,Haringey,N17
290,Totteridge,Barnet,N20
291,Tower Hill,Tower Hamlets,EC3
292,Tufnell Park,"Islington, Camden",N7
293,Tufnell Park,"Islington, Camden",N19
294,Tulse Hill,Lambeth,SE24
295,Tulse Hill,Lambeth,SE27
296,Turnpike Lane,Haringey,N8
297,Upper Clapton,Hackney,E5
298,Upper Holloway,Islington,N19
299,Upper Norwood,Croydon,SE19
300,Upper Walthamstow,Waltham Forest,E17
301,Upton Park,Newham,E6
302,Upton Park,Newham,E13
303,Vauxhall,Lambeth,SW8
304,Walthamstow,Waltham Forest,E17
305,Walthamstow Village,Waltham Forest,E17
306,Walworth,Southwark,SE17
307,Blackfriars,City,EC4
308,Wandsworth,Wandsworth,SW18
309,Wanstead,Redbridge,E11
310,Wapping,Tower Hamlets,E1
311,Well Hall,Greenwich,SE9
312,West Brompton,Kensington and Chelsea,SW10
313,Blackheath,Lewisham,SE3
314,West Ealing,Ealing,W13
315,West Green,Haringey,N15
316,West Hackney,Hackney,N16
317,West Ham,Newham,E13
318,West Ham,Newham,E15
319,West Hampstead,Camden,NW6
320,West Heath,Bexley,SE2
321,West Hendon,Barnet,NW9
322,West Kensington,Hammersmith and Fulham,W14
323,Blackheath Royal Standard,Greenwich,SE3
324,Blackheath Royal Standard,Greenwich,SE12
325,West Norwood,Lambeth,SE27
326,Westcombe Park,Greenwich,SE3
327,Westminster,Westminster,SW1
328,Whetstone,Barnet,N20
329,White City,Hammersmith and Fulham,W12
330,Whitechapel,Tower Hamlets,E1
331,Willesden,Brent,NW10
332,Blackwall,Tower Hamlets,E14
333,Wimbledon,Merton,SW19
334,Wimbledon,Merton,SW20
335,Winchmore Hill,Enfield,N21
336,Wood Green,Haringey,N22
337,Woodford,Redbridge,IG8
338,Woodford,Redbridge,E18
339,Woodford Green,"Redbridge, Waltham Forest",IG8
340,Woodside Park,Barnet,N12
341,Woolwich,Greenwich,SE18
342,Wormwood Scrubs,Hammersmith and Fulham,W12
343,Bloomsbury,Camden,WC1
344,Bounds Green,Haringey,N11
345,Bounds Green,Haringey,N22
346,Bow,Tower Hamlets,E3
347,Bowes Park,Haringey,N22
348,Aldgate,City[10,EC3
349,Brent Cross,Barnet,NW2
350,Brent Cross,Barnet,NW4
351,Brent Park,Brent,NW10
352,Brixton,Lambeth,SW2
353,Brixton,Lambeth,SW9
354,Brixton,Lambeth,SE5
355,Brockley,Lewisham,SE4
356,Bromley (also Bromley-by-Bow),Tower Hamlets,E3
357,Brompton,Kensington and ChelseaHammersmith and Fulham,SW3
358,Brondesbury,Brent,NW6
359,Aldwych,Westminster[10,WC2
360,Brunswick Park,Barnet,N11
361,"Burroughs, The",Barnet,NW4
362,Camberwell,Southwark[40,SE5
363,Cambridge Heath,Tower Hamlets[40,E2
364,Camden Town,Camden[40,NW1
365,Canary Wharf,Tower Hamlets[40,E14
366,Cann Hall,Waltham Forest,E11
367,Canning Town,Newham,E16
368,Canonbury,Islington,N1
369,Castelnau,Richmond upon Thames,SW13
370,Catford,Lewisham,SE6
371,Chalk Farm,Camden,NW1
372,Charing Cross,Westminster,WC2
373,Charlton,Greenwich,SE7
374,Anerley,Bromley,SE20
375,Chelsea,Kensington and Chelsea,SW3
376,Childs Hill,Barnet,NW2
377,Chinatown,Westminster,W1
378,Chinbrook,Lewisham,SE12
379,Chingford,Waltham Forest,E4
380,Chiswick,"Hounslow, Ealing, Hammersmith and Fulham",W4

In [16]:
df_London = df_source_london_data
df_London.to_csv('LondonLocations.csv', index = False)

We will be using Geocoder library to obtain the longitude and latitude of each locator

In [17]:
#defind function getLngLat
def get_latlng(arcgis_geocoder):
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [18]:
# Test getLngLat function
testResult = get_latlng('EC1')
testResult

[51.523610000000076, -0.09876999999994496]

In [19]:
#reave geocoding using geocodefarm geocoder
gg = geocoder.geocodefarm(testResult, method = 'reverse')
gg

<[OK] Geocodefarm - Reverse [84 Goswell Road, London, EC1V 7DB, United Kingdom]>

Get time to get lat and long of all location

In [20]:
start = time.time()

post_codes =df_London['Postcode']
coordinates = [get_latlng(post_code) for post_code in post_codes.tolist()]

end = time.time()
print("Time of execution: ", end - start, "seconds")

Time of execution:  235.49691343307495 seconds

In [21]:
df_london_loc = df_London

df_london_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])
df_london_loc['Latitude'] = df_london_coordinates['Latitude']
df_london_loc['Longitude'] = df_london_coordinates['Longitude']
df_london_loc.head(5)

     Location                         Borough Postcode  Latitude  Longitude
0  Abbey Wood             Bexley,  Greenwich       SE2  51.49245    0.12127
1       Acton  Ealing, Hammersmith and Fulham       W3  51.51324   -0.26746
2       Acton  Ealing, Hammersmith and Fulham       W4  51.48944   -0.26194
3       Angel                       Islington      EC1  51.52361   -0.09877
4       Angel                       Islington       N1  51.53792   -0.09983

In [22]:
df_london_loc.to_csv('LondonLocationsAndCoordinates.csv', index=False)
df_london_loc.shape

(381, 5)

In [23]:
df_read_london = pd.read_csv('LondonLocationsAndCoordinates.csv')
df_read_london.head()

# map_london = folium.Map(location=get_latlng('London'), soom_start=12)

# #add makers to map
# for lat, lng borough, LondonLocationsAndCoordinates in zip()

     Location                         Borough Postcode  Latitude  Longitude
0  Abbey Wood             Bexley,  Greenwich       SE2  51.49245    0.12127
1       Acton  Ealing, Hammersmith and Fulham       W3  51.51324   -0.26746
2       Acton  Ealing, Hammersmith and Fulham       W4  51.48944   -0.26194
3       Angel                       Islington      EC1  51.52361   -0.09877
4       Angel                       Islington       N1  51.53792   -0.09983

In [24]:
district_colors = {i: '#%02X%02%02X' % tuple(np.random.choice(range(256),size=3)) for i in df_read_london['Postcode'].unique()}
district_colors

# map_london = folium.Map(location=get_latlng('London'), soom_start=12)

# #add makers to map
# for lat, lng borough, LondonLocationsAndCoordinates in zip()

TypeError: not all arguments converted during string formatting